build/
winget_real_cli
winget-termux_*.deb
build.log
.test-tmp/
.srctest/
.pstest/
.uatest/
.remoteinstall/
.repro1/
.manual-test/
.pintest/
.idxtest/
.urltest/
catalog/build-catalog
catalog/build-catalog.o
catalog/catalog/
